<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Task_ManagerCP3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="Task_ManagerCP3.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="InitConnection"
         connectionString="Server=localhost;Database=TaskManager;Uid=root;Pwd=**NepkkaCP3**;"
         providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
 <userSettings>
  <Task_ManagerCP3.Properties.Settings>
   <setting name="Token" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeZone" serializeAs="String">
    <value>Ekaterinburg Standard Time</value>
   </setting>
   <setting name="IsNotificationSoundEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsNotificationEnabled" serializeAs="String">
    <value>True</value>
   </setting>
  </Task_ManagerCP3.Properties.Settings>
  <Task_ManagerCP3.Settings>
   <setting name="Token" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeZone" serializeAs="String">
    <value>Yekaterinburg Standard Time</value>
   </setting>
  </Task_ManagerCP3.Settings>
 </userSettings>
</configuration>